.animal-details {
  border: 1px solid black;
  margin: 2px;
  position:relative;
background-color: wheat;
}

.title {
  font-weight: bold;
}

.class {
  font-style: italic;
}

.read-more {
  display: inline-block;
  cursor: pointer;
  color: #2d0786;
  font-family: Arial;
  font-size: 10px;
  text-decoration: none;
  padding: 0;
  margin-right: 0;
  border: none;
  background: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.action-btn{
  display: inline-block;
  cursor: pointer;
  color: #2d0786;
  font-family: Arial;
  font-size: 10px;
  text-decoration: none;
  padding: 0;
  margin-right: 0;
  border: none;
  background: none;
  padding-left:3px;;
}

.show-less {
   display: none;
}