<app-multi-filter (groupFilters)="filterAnimalList($event)"></app-multi-filter>

<div class="row">
    <div class="col-md-3" *ngFor="let a of filteredAnimals | filter: searchByKeyword: 'name'">
        <app-animal-details [animal]=a (removeAnimal)="removeAnimal($event)"></app-animal-details>
    </div>
    <div class="col-md-3">
        <div class="animal-details" (click)="addNewAnimal()">
            <div class="add-animal-text">
                <span>Want to add animal??</span>
                <span class="click-to-add">Click here</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="animal-details" (click)="loadNextAnimals()">
            <div class="add-animal-text">
                <span class="click-to-add">Load Next Five</span>
            </div>
        </div>
    </div>
</div>